analysis/provider_schemas/grzh/gremiumsuebersicht.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="http://www.cmiag.ch/cdws/Gremiumsuebersicht" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cmiag.ch/cdws/Gremiumsuebersicht"><xsd:annotation><xsd:documentation><SearchField xsi:type="SearchFieldText" Name="Gremiumstyp" BoostFactor="1" Nrs="16;17" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/><SearchField xsi:type="SearchFieldText" Name="GremiumKurzname" BoostFactor="1" Nrs="12" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/><SearchField xsi:type="SearchFieldText" Name="GremiumName" BoostFactor="1" Nrs="11" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></xsd:documentation></xsd:annotation><xsd:complexType name="Gremium"><xsd:sequence><xsd:element name="Name" type="xsd:string"/><xsd:element name="Kurzname" type="xsd:string"/><xsd:element name="Vater" type="xsd:string"/><xsd:element name="Inaktiv" type="xsd:boolean" nillable="true"/><xsd:element name="Gremiumstyp" type="xsd:string"/><xsd:element name="AltsystemID" type="xsd:string"/></xsd:sequence><xsd:attribute name="OBJ_GUID" type="xsd:string" use="required"/><xsd:attribute name="SEQ" type="xsd:string" use="optional"/><xsd:attribute name="IDX" type="xsd:string" use="optional"/></xsd:complexType><xsd:element name="Gremium" type="Gremium"/></xsd:schema>